*.import/
export.cfg
export_presets.cfg
.godot/
.godot/editor/
.godot/export_templates/
.godot/asset_library/
.godot/shader_cache/
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
*.swp
*.swo
*~
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.backup
*.bak
